<header class="Page-header" itemscope itemtype="http://schema.org/WPHeader">
    {{#with hat}}
        <div class="Page-hat">{{this}}</div>
    {{/with}}

    {{#with logo}}
        <div class="Page-logo">{{this}}</div>
    {{/with}}

    {{#with navigation}}
        <div class="Page-navigation">{{this}}</div>
    {{/with}}
    
    {{#with social}}
        <div class="Page-social">{{this}}</div>
    {{/with}}
</header>