<footer class="Page-footer" itemscope itemtype="https://schema.org/WPFooter">
    {{#with footerLogo}}
        <div class="Page-footerLogo">{{this}}</div>
    {{/with}}

    {{#with footerNavigation}}
        <div class="Page-footerNavigation">{{this}}</div>
    {{/with}}

    {{#with social}}
        <div class="Page-footerSocial">{{this}}</div>
    {{/with}}

    {{#with disclaimer}}
        <div class="Page-disclaimer">{{this}}</div>
    {{/with}}
</footer>
